:root {
  /*color variable*/
  --border-color: 2px solid rgba(0, 0, 12, 0.442);
  --background-color-box: rgba(118, 130, 240, 0.234);
  --text-color: black;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: linear-gradient(135deg, #90caf9 0%, #64b5f6 50%, #42a5f5 100%);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./images/clouds-3488632_1920.jpg);
}
.header {
  display: flex;
  justify-content: space-around;
  justify-content: baseline;
  background-color: var(--background-color-box);
  border-bottom: var(--border-color);
}
.input,
.info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input input {
  width: 30vw;
  height: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-color);
  margin: auto;
  border-radius: 20px;
  border: var(--border-color);
  background-color: rgba(250, 250, 250, 0.585);
}
.searchIcon:hover {
  color: var(--text-color);
  font-size: 50px;
}
.loading-gif{
  display: flex;
  justify-content: center;
}
.loading-gif h1{
  text-align: center;
}

.footer {
  position: relative;
  text-align: center;
  display: flex;
  align-items: end;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: var(--background-color-box);
}

.footer h1 {
  color: rgb(0, 0, 0); /* Black text with 50% opacity */
}

.box-container {
  position: relative;
  padding: 115px 150px;
  height: fit-content;
  width: 100%;
  display: flex;
  gap: 10px;
  background-color: var(--background-color-box);
  border: var(--border-color);
}

.box-first,
.box-second {
  padding-bottom: 20px;
  border-radius: 10px;
  height: fit-content;
  width: 100%;
  background-color: var(--background-color-box);
  border: var(--border-color);
}
.today-weather .city-detail{
  max-width: 700px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background-color: var(--background-color-box);
  border: var(--border-color);
  margin: 20px 25px 20px 25px;
}
.small-section{
  display: flex;
  gap: 10px;
  overflow-x: auto;
 margin: 10px 30px;
 padding: 5px 10px;
 }
 
.small-container{
  border-radius: 7px;
  scrollbar-width: none;
  background-color: var(--background-color-box);
  border: var(--border-color);
}
.box-second{
  padding: 30px 20px;
  display: grid;
  grid-auto-flow: column; /* Layout items in a single row */
  grid-auto-columns: min-content; /* Adjust column width based on content */
  overflow-x: auto; /* Allow horizontal scrolling */
  white-space: nowrap;
  scrollbar-width: none;

}
.box-second::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
.long-box{

  font-size: 24px;
  font-weight: 400;
padding: 7px;
  height: 325px;
  min-width: 150px;
  border-radius: 10px;
margin: 5px;
  border: var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

@media (max-width: 900px) {
  .box-container {
    margin: 7px;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: var(--background-color-box);
    border: var(--border-color);
  }
  .box-first,
  .box-second {
    border-radius: 10px;
    height: fit-content;
    width: 100%;
    background-color: var(--background-color-box);
    border: var(--border-color);
  }
  .input input {
    text-align: center;
    font-size: 0.7rem;
    margin: auto;
    border-radius: 20px;
    border: var(--border-color);
    background-color: rgba(250, 250, 250, 0.185);
  }
  .box-container {
    border: none;
  }
  .box-second{
  display: grid;
  grid-auto-flow: column; /* Layout items in a single row */
  grid-auto-columns: min-content; /* Adjust column width based on content */
  overflow-x: auto; /* Allow horizontal scrolling */
  white-space: nowrap;
  scrollbar-width: none;
}

.small-section{
 display: flex;
 gap: 10px;
 overflow-x: auto;
margin: 10px 30px;
padding: 5px 10px;
}
}
